@import "tailwindcss";
@source "../views";

a {
  @apply text-blue-500;
}

.landingPage__card {
  padding: 1rem;
  border: 2px solid;
  background: #ffffff;
  @apply rounded-md;
}

.landingPage__card--error {
  font-weight: bold;
  padding: 1rem;
  border: 2px solid;
  background: #fff;
  @apply text-red-400 border-red-400 flex flex-col gap-2 rounded-md;
}
